<hr />
<div class="row ">
  <div class="col-md-12">
    <h3>
      Abstract Submission (<b>Now Closed</b>)
    </h3>
    <p>
      We are delighted to invite all postgraduate research students at the
      School of Biomedical Engineering and Imaging Sciences Kings College London
      to submit abstracts! This event is held in collaboration with the King's
      and Imperial Centre for Doctoral Training in Smart Medical Imaging, and we
      hope that CDT students based at Imperial will also submit their abstracts.
    </p>
    <p>
      <b>The deadline for abstract submission is the 4th of October 2019</b>.
      All abstracts will be peer reviewed and the top 10 abstracts will be
      invited to give a presentation (10 minutes plus questions), with the
      runners-up entered into the poster sessions. Prizes will be given to the
      top presentations and posters. All postgraduate members of the school are
      required to submit an abstract.
    </p>
    <p>
      <a class="download" href="/assets/Abstract-Submission-Form.docx">
        Abstract Submission Form (docx)
      </a>
    </p>
    <p>
      Please send submissions to
      <a href="mailto:{{ site.email | encode_email }}">{{ site.email }}</a>
    </p>
  </div>
</div>
