<div class="row agenda" style="padding-top: 30px">
  <br />
  <div class="col-md-12">
    <h3>
      Agenda

      <a class="download" href="/assets/Abstract-booklet-5.pdf">
        (download full programme)
      </a>
    </h3>
    <table class="table">
      <tr>
        <td style="text-align: left; font-weight: bold;">
          10:00
        </td>
        <td>
          Registration
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          10:30
        </td>
        <td>
          Welcome from the School –
          <b>Prof. Sebastien Ourselin, Head of School</b>
          <p>
            Public Engagement Update
          </p>
          <p>
            CDT Update
          </p>
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          10:50
        </td>
        <td>
          Keynote Speaker 1 –
          <b
            ><a href="/speakers#ronald_summers"
              >Prof. Ronald Summers, Bethesda NIH Clinical Center</a
            ></b
          >
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          11:20
        </td>
        <td>
          Student Oral Presentation Session A
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          12:20
        </td>
        <td>
          Poster Session A and Lunch
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          14:00
        </td>
        <td>
          Keynote Speaker 2 –
          <b
            ><a href="/speakers#tracy_underwood"
              >Dr. Tracy Underwood, University of Manchester</a
            ></b
          >
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          14:30
        </td>
        <td>
          Student Oral Presentation Session B
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          15:30
        </td>
        <td>
          Poster Session B and Refreshments
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          16:15
        </td>
        <td style="max-width:70%">
          <b>Panel Discussion: </b>

          <p>
            <b>Multimodal imaging beyond PET/CT: is two better than one?</b>
          </p>
          <p>Chair: Prof. Paul Marsden</p>
          <p>
            <a href="/speakers#panellists"
              >Panellists: Dr. Isabel Dregely, Prof. Alexander Hammers, Dr
              Malene Fischer, Dr Sohaib Nazir, Dr Eliana Reyes</a
            >
          </p>
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          16:45
        </td>
        <td>
          Awards for Best Presentations and Posters
        </td>
      </tr>

      <tr>
        <td style="text-align: left; font-weight: bold;">
          17:00
        </td>
        <td>
          Drinks and Reception
        </td>
      </tr>
    </table>
  </div>
</div>
