<div class="row location">

  <div class="col-md-6">
    <h3>
      Location
    </h3>
    <p>
      Great Hall <br/>
      Stand Campus <br/>
      Kings College London <br/>
      London WC2R 2LS
    </p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2483.083711158341!2d-0.1182692!3d51.5116802!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b5f3c45d65%3A0xc1f59f85d94d8a48!2sLondon%20WC2R%202LS!5e0!3m2!1sen!2suk!4v1567088792768!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
